[submodule "external/fastpfor"]
	path = external/fastpfor
	url = http://github.com/lemire/fastpfor/
	branch = 743ff20
[submodule "external/sdsl-lite"]
	path = external/sdsl-lite
	url = http://github.com/simongog/sdsl-lite/
[submodule "external/atire"]
	path = external/atire
	url = http://github.com/snapbug/atire/
